root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8

[*.cs]
dotnet_diagnostic.IDE0055.severity = error
dotnet_diagnostic.CA2007.severity = none
dotnet_style_require_accessibility_modifiers = always:error
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = true:error